@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/roboto-condensed/roboto-condensed-regular/robotocondensed.eot');
    src: url('../fonts/roboto-condensed/roboto-condensed-regular/robotocondensed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-condensed/roboto-condensed-regular/robotocondensed.woff2') format('woff2'),
         url('../fonts/roboto-condensed/roboto-condensed-regular/robotocondensed.woff') format('woff'),
         url('../fonts/roboto-condensed/roboto-condensed-regular/robotocondensed.ttf') format('truetype'),
         url('../fonts/roboto-condensed/roboto-condensed-regular/robotocondensed.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Core variables and mixins
@import "components/vars";
@import "components/body";


@import "components/header";


.layout{
	display: table;
	table-layout: fixed;
  	height: 100%;
  	width: 100%;
}



.wrapper{
	display: table-row;
	height: 100%;
}
.container-fluid{
	max-width: 1435px;
	padding: 0 50px;
	position: relative;
	width: 100%;
	margin: 0 auto;
}


.page-content{
	display: table-cell;
	height: 100%;
	padding: 42px 0 22px;
	.page-container{
		padding-left: 113px;
	}
}


.page-top{
	margin-top: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	padding: 44px 0 27px;
	position: relative;
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(132, 90, 141,0.4);
		//background: rgba(0, 0, 0, 0.6);
		position: absolute;
		left: 0;
		top: 0;
	}
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		//background: rgba(132, 90, 141,0.6);
		background: rgba(0, 0, 0, 0.6);
		position: absolute;
		left: 0;
		top: 0;
	}
	.page-container{
		position: relative;
		z-index: 2;
	}
	h1{
		margin-bottom: 77px;
	}
}

.page-top__date{
	font-size: 16px;
	margin-bottom: 20px;
}

.page-container{
	max-width: 895px;
	margin: 0 auto;
	position: relative;
}
.pluso {
    position: absolute!important;
    left: 0;
    top: 0;
    a{
    	margin-left: 0!important;
    }
}

.page-top__info{
	color: rgba(255,255,255,0.5);
}


.page-img{
	box-shadow: 0 13px 40px -6px rgba(132, 90, 141, 0.5);
	display: inline-block;
	margin-bottom: 35px;
	img{
		display: block;
		max-width: 100%;
	}
}

.caption{
	font-size: 16px;
	margin-bottom: 20px;
}


.menu-mobile__bg{
	position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: none;
}

.menu-mobile{
	display: none;
	position: fixed;
	top: 60px;
	width: 100%;
	padding: 35px 20px 20px 20px;
    background: #fff;
    z-index: 4;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
}

.menu-mobile__list{
	padding-left: 14px;
}

.menu-mobile__link{
	display: block;
	margin-bottom: 20px;
	font-size: 20px;
	color: #141312;
	&:last-child{
		    margin-bottom: 0;
	}
}

#fp-nav ul li {
    width: 8px;
    height: 2px;
    margin: 0;
    margin-bottom: 23px;
    padding-left: 0;
    &:last-child{
		margin-bottom: 0;
    }
    &:before{
    	display: none;
    }
}


#fp-nav ul li a span{
    border-radius: 0;
    height: 100%;
    width: 100%;
    border: 0;
    background: #141312;
    left: auto;
    right: 0;
    top:0;
    margin: 0;
    transition: width 0.3s ease;
}

#fp-nav ul li a.active span{
	background: #DF2527;
	height: 4px;
    width: 40px;
    
    margin: 0;
    border-radius: 0;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    width: inherit;
    height: inherit;
    margin: 0;
}

#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span{
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
}

#screen{
	display: none;
	&.fullpage-wrapper{
		display: block;
	}
}

.screen-item--top{
	background: #141312;
}


.screen-item--product{
	background: #EAEAEA;
}
.layout-index{
	.page-header {
	    background: transparent;
	    transition: background 0.5s linear;
	    &.active{
	    	background: #fff; 
	    	transition: background 0s ease;
	    }
	}
	.top-nav__link{
		color: #fff;
	}
	.page-footer__link{
		
	}

}

.page-footer__link__wrapper{
    position: fixed;
    bottom: 3px;
    max-width: 1435px;
    padding: 0 50px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: right;
    pointer-events: none;
    .page-footer__link{
    	vertical-align: middle;
    	pointer-events:all;
    	width: 68px;
    	height: 68px;
    }
}

.catalog{
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.catalog__item{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 50%;
	position: relative;
}

.catalog-items{
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.catalog__info{
	padding: 30px 52px;
	width: 50%;
    height: 50%;
	//height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: #fff;
	&:nth-child(1){
		padding-left: 0;
	}
	&:nth-child(3){
		padding-left: 0;
	}
}

.catalog__number{
	margin-bottom: 18px;
}
.catalog__title{
	font-size: 40px;
	margin-bottom: 30px;
	line-height: 1;
}

.catalog__labels{
	display: flex;
	flex-wrap:wrap;
}

.catalog__label{
	border-radius: 2px 10px 2px 10px;
	background: #DF2527;
	font-size: 14px;
	margin-right: 8px;
	padding: 0px 8px;
	&:last-child{
		margin-right: 0;
	}
}


.new{
    background: #fff;
    color: #DF2527;
    padding: 0px 2px;
    font-size: 20px;
    display: inline-block;
    line-height: 0.95;
    position: relative;
    top: -16px;
}

.screen-item--product{
	//padding-top: 100px;
}
.product-wrapper{
	padding-top: 100px;
	padding-bottom: 60px;
}
.product-filter{
	display: flex;
	align-items: center;
	justify-content: center;
}
.product-filter__item{
	margin-right: 25px;
	    border-radius: 2px 13px 2px 13px;
    background: #DF2527;
    font-size: 20px;
    padding: 3px 10px;
    line-height: 1;
    color: #fff;
    transition: background 0.3s ease;
	&:last-child{
		margin-right: 0;
	}
	&:hover{
		background: #141312;
	}
	&.active{
		background: #141312;
	}
}
.product-top{
	margin-bottom:40px;
}
.product-title{
	text-align: center;
	font-size: 48px;
	line-height: 1;
	margin-bottom: 35px;
}

.screen-item--catalog{
	.container-fluid{
		height: 100%;
	}
}

.screen-item--raffle{
	background: #fff; 
	padding-bottom: 300px;
	height: 100vh!important;
	.page-footer{
		background: #fff;
		position: absolute;
	    width: 100%;
	    bottom: 0;
	}
	.page-footer__wrapper{
		border-top: 0;
		padding-right: 66px;
	}
	.fp-scrollable,
	.fp-scroller{
		height: 100vh!important;
	}
}

.raffle-slider-wrapper{
	background: #312a33;
	color: #fff;
	padding-top: 160px;
	position: relative;
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 85px;
		background: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.raffle-slider{
	margin-bottom: -80px;
	z-index: 1;
	.slick-list{
		padding-bottom: 30px;

	}
}

.raffle-slider__item{
	display: flex!important;
}
.raffle-slider__image{
	width: 50%;
	//padding-bottom: 30px;
}
.raffle-slider__info{
	width: 50%;
	padding-left: 45px;
}

.raffle-slider__title{
	font-size: 48px;
	margin-bottom: 40px;
}

.raffle-slider__img{
	width: 100%;
	height: 480px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	    box-shadow: 0 31px 43px -26px rgba(132, 90, 141, 0.8);
}

.raffle-slider__pager{
	ul{
		margin-bottom: 20px;
		display: flex;
		li{
			padding-left: 0;
			margin-right: 30px;
			&:last-child{
				margin-right: 0;
			}
			&:before{
				display: none;
			}
		}
		a{
			color: #fff;
			opacity: 0.5;
			display: block;
			transition:opacity 0.3s ease;
			&.active{
				opacity: 1;
				.raffle-slider__num{
					font-size: 40px;
					line-height: 21px;
				}
			}
			&:hover{
				opacity: 1;
			}
		}
	}
}

.raffle-slider__num{
	font-size: 24px;
	height: 37px;
}
.raffle-slider__date{
	font-size: 16px;
}

.screen-item--history{
	//padding-top: 80px;
	
	&:before{
		content: "";
		display: block;
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(132,90,141,0.2);
	}
}

.fp-viewing-catalog,
.fp-viewing-history,
.fp-viewing-product,
.fp-viewing-raffle{
	.page-header{
		background: #fff;
	}
	.top-nav__link {
	    color: #141312;
	}
}

.fp-viewing-catalog{
	#fp-nav ul li a span{
		background: rgba(255,255,255,0.4);
	}
	#fp-nav ul li a.active span{
		background: #DF2527;
	}
}

.fp-viewing-top{
	#fp-nav{
		opacity: 0;
		visibility: hidden;
	}
}

.history-wrap{
	display: flex;
	padding-top: 150px;
	padding-bottom: 70px
}
.history-list{
	padding-right: 91px;
	width: 50%;
	position: relative;
}
.history-info{
	padding-left: 91px;
	width: 50%;
	
}
.history-title{
	font-size: 120px;
    line-height: 100px;
    margin-bottom: 81px;
    margin-left: -186px;
    position: relative;
    z-index: 1;
}

.history-txt{
	max-width: 460px;
	line-height: 1.5;
	p{
		margin-bottom: 28px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.history-list__item{
	//margin-bottom: 30px;
	    padding-top: 110px;
	position: relative;
	max-width: 345px;
	// display: flex;
	// flex-direction: column;
	clear: both;
	&:nth-child(odd){
		float: right;
	}
	&:last-child{
		margin-bottom: 0;
	}
}

.chef{
	position: absolute;
	width: 235px;
	height: 235px;
	background: url(../img/svg/chef.svg);
	    top: -105px;
    left: 256px;
}

.kitchen{
	position: absolute;
	width: 283px;
	height: 283px;
	background: url(../img/svg/kitchen.svg);
	top: 105px;
   	right: -80px;
}
.kitchen-scale{
	position: absolute;
	width: 189px;
	height: 232px;
	background: url(../img/svg/kitchen-scale.svg);
	top: -50px;
    left: -195px;
}
.spoon{
	position: absolute;
	width: 222px;
	height: 273px;
	background: url(../img/svg/spoon.svg);
	right: -65px;
    bottom: -12px;
}

.salt{
	position: absolute;
	width: 167px;
	height: 202px;
	background: url(../img/svg/salt.svg);
	    top: -80px;
    left: -55px;
}

.history-list__title{
	font-size: 40px;
	margin-bottom: 30px;
	position: relative;
	z-index: 1;
	line-height: 1;
}


.history-list__txt{
	position: relative;
	z-index: 1;
	line-height: 1.5;
}

.history-list__number{
	    position: absolute;
    top: -7px;
    left: 15px;
    height: 180px;
    img{
    	max-width: 100%;
    	max-height: 100%;
    }
}

.group-title{
	margin-bottom: 25px;
	font-size: 40px;
	line-height: 1;
}

.product__list{
	display: flex;
	flex-wrap:wrap;
	margin-right: -45px;
}

.product__item{
	display: block;
	padding-right: 45px;
	margin-bottom: 48px;
	width: 33.333%;
	color: #141312;
	padding-top: 38px;
}

.product__inner{
	height: 100%;
	background: #fff;
	padding: 0 40px 32px; 
}

.product__img{
	margin: 0 -34px -85px;
	text-align: center;
	img{
		display: block;
		position: relative;
    	top: -50px;
	}
}
.product__title{
	font-size: 24px;
	margin-bottom: 3px;
}

.product__term{
	font-size: 16px;
	color: rgba(20,19,18, 0.4);
	margin-bottom: 20px;
}

.product__bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product__link{
	width: 48px;
	height: 48px;
	background: url(../img/svg/link-p.svg);
}

.product__chars{
	display: flex;
}

.char-item{
	padding: 0 29px; 
	font-size: 14px;
	border-left: 2px solid #EDE6EE;
	&:first-child{
		padding-left: 0;
		border-left: 0;
	}
	&:last-child{
		padding-right: 0;
	}

}
.char__count{
	font-size: 24px;
	color: #DF2527;
	    line-height: 1;
}



.iScrollIndicator{
	background: rgba(0, 0, 0, 0)!important;
}

.top-slider{
	display: none;
	// position: absolute;
	// left: 0;
	// top: 0;
	// width: 100%;
	height: 100%;
	//background: #fff;
	.slick-track,
	.slick-list{
		height: 100%;
	}
	&.slick-initialized{
		display: block;
	}
}

.top-slider__item{
	//padding-left: 400px;
	.container-fluid{
		height: 100%;
	}
}
.top-slider__img{
	height: 100%;
	width: 70%;
	position: absolute;
	right: 0;
	top: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.top-slider__info{
	    height: 100%;
    color: #fff;
    padding-top: 180px;
    padding-left: 104px;
	&:after{
		content: "";
		display: inline-block;
		width: 2px;
		height: calc(100% - 320px);
		top: 55px;
		background: rgba(255, 255, 255, 0.2);
		position: absolute;
		right: 50px;
	}
}

.top-slider__title{
	font-size: 120px;
	line-height: 100px;
	margin-bottom: 50px;
}

.colon{
	color: rgba(255, 255, 255, 0.3);
}
.top-slider__labels{
	position: absolute;
	    right: 48px;
    bottom: 112px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.top-slider__label{
	font-size: 20px;
	color: #fff;
	margin-bottom: 17px;
	border-radius: 2px 10px 2px 10px;
    background: #DF2527;
        padding: 3px 10px;
    display: inline-block;
    line-height: 1;
	&:last-child{
		margin-bottom: 0;
	}
}

.top-slider__count{
	font-size: 16px;
	padding-left: 117px;
	margin-bottom: 12px;
}

.top-slider__txt{
	font-size: 30px;
	line-height: 1.15;
	margin-left: 117px;
	span{
		background: #845A8D;
	}
}


.popup {
    position: relative;
    background: #ffffff;
    padding: 30px 40px;
    width: auto;
    max-width: 425px;
    margin: 0 auto;
}




.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}


.mfp-with-fade {
  
  // before-open state
  .mfp-content,
  .mfp-arrow,
  &.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.3s ease-out; 
    -moz-transition: opacity 0.3s ease-out; 
    -o-transition: opacity 0.3s ease-out; 
    transition: opacity 0.3s ease-out;
  }
  
  
  // open state
  &.mfp-ready {
    .mfp-content,
    .mfp-arrow {
      opacity: 1;
    }
    &.mfp-bg {
      opacity: 0.8; // background opacity
    }
  }
  
  // closed state
  &.mfp-removing {
    .mfp-content,
    .mfp-arrow,
    &.mfp-bg {
      opacity: 0;
    }
  }
  
  
}

.mfp-bg{
	background: #845A8D;
}

.mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.5;
}

.mfp-bottom-bar{
	display: none;
}

button.mfp-arrow{
    opacity: 1;
    margin-top: -29px;
    width: 58px;
    height: 58px;
    transition:all 0.3s ease;
    &:before,
    &:after{
    	display: none;
    }
    &:active{
		margin-top: -29px;
    }
	&.mfp-arrow-left {
	    left: 20px;
	        background: url(../img/svg/doctor_slider_arrow_left.svg);
	    background-size: cover;
	}

	&.mfp-arrow-right {
	    right: 20px;
	        background: url(../img/svg/doctor_slider_arrow_right.svg);
	    background-size: cover;
	}
	&:hover{
		transform: scale(1.07);
	}
}


 button.mfp-close{
    width: 22px;
    height: 22px;
    line-height: 22px;
    right: -50px;
    top: 0;
    opacity: 1;
    padding: 0;
    color: #fff;
    background: url(../img/svg/close-p.svg) no-repeat;
    background-size: cover;
    display: inline-block;
    text-indent: -9999em;
    &:hover{
    	background: url(../img/svg/close-h.svg) no-repeat;
    	background-size: cover;
    }
}

@import "components/footer";




@import "components/media";





