@font-face {
  font-family: 'roboto_condensedregular';
  src: url("../fonts/roboto-condensed/roboto-condensed-regular/robotocondensed.eot");
  src: url("../fonts/roboto-condensed/roboto-condensed-regular/robotocondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-condensed/roboto-condensed-regular/robotocondensed.woff2") format("woff2"), url("../fonts/roboto-condensed/roboto-condensed-regular/robotocondensed.woff") format("woff"), url("../fonts/roboto-condensed/roboto-condensed-regular/robotocondensed.ttf") format("truetype"), url("../fonts/roboto-condensed/roboto-condensed-regular/robotocondensed.svg#roboto_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*FONT-FAMILY*/
/*FONT-SIZE*/
/*BACKGROUND*/
/*TEXT-COLOR*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*:focus {
  outline: none;
  -moz-outline-style: none; }

:-moz-any-link:focus {
  outline: 1px dotted invert; }

:-moz-any-link:focus {
  outline: none; }

textarea, input {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  text-decoration: none; }
  a:not([class]) {
    color: #DF2527; }

body {
  margin: 0;
  height: 100%;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  font-family: "roboto_condensedregular", Arial, sans-serif;
  color: #141312;
  line-height: 1.4; }
  body.fixed {
    overflow: hidden; }

textarea, input {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

::-webkit-input-placeholder {
  color: #a5a8ab;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

::-moz-placeholder {
  color: #a5a8ab;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

:-moz-placeholder {
  color: #a5a8ab;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

:-ms-input-placeholder {
  color: #a5a8ab;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

h1 {
  margin: 0;
  margin-bottom: 29px;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.2; }

h2 {
  margin: 0;
  margin-bottom: 29px;
  font-size: 40px;
  font-weight: normal;
  line-height: 1.2; }

h3 {
  margin: 0;
  margin-bottom: 27px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2; }

p {
  margin: 0;
  margin-bottom: 20px; }

ul {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 16px; }
  ul li {
    list-style-type: none;
    padding-left: 25px;
    position: relative;
    margin-bottom: 24px; }
    ul li:before {
      content: "";
      position: absolute;
      left: -1px;
      top: 5px;
      background: url(../img/svg/li-bg.svg);
      width: 18px;
      height: 5px; }

ol {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 16px;
  counter-reset: myCounter; }
  ol li {
    list-style-type: none;
    padding-left: 25px;
    position: relative;
    margin-bottom: 20px; }
    ol li:before {
      counter-increment: myCounter;
      content: counter(myCounter) ".";
      position: absolute;
      left: -1px;
      top: 0;
      color: #DF2527; }

.page-header {
  background: #fff;
  padding: 11px 0;
  position: fixed;
  width: 100%;
  z-index: 6;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease; }
  .page-header.fixed {
    -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12); }

.top-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.top-nav__link {
  color: #141312;
  margin-right: 41px; }
  .top-nav__link:last-child {
    margin-right: 0; }

.page-header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative; }

.logo {
  width: 155px;
  height: 99px;
  background: url(../img/svg/logo.svg) no-repeat;
  position: absolute;
  left: -10px;
  bottom: -72px; }

.menu-mobile-toggle {
  width: 40px;
  height: 32px;
  position: relative;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none; }

.menu-mobile-toggle span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #DF2527;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.menu-mobile-toggle span:nth-child(1) {
  top: 0px; }

.menu-mobile-toggle span:nth-child(2) {
  top: 13px; }

.menu-mobile-toggle span:nth-child(3) {
  top: 27px; }

.menu-mobile-toggle.open span:nth-child(1) {
  top: 13px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

.menu-mobile-toggle.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

.menu-mobile-toggle.open span:nth-child(3) {
  top: 13px;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); }

.layout {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%; }

.wrapper {
  display: table-row;
  height: 100%; }

.container-fluid {
  max-width: 1435px;
  padding: 0 50px;
  position: relative;
  width: 100%;
  margin: 0 auto; }

.page-content {
  display: table-cell;
  height: 100%;
  padding: 42px 0 22px; }
  .page-content .page-container {
    padding-left: 113px; }

.page-top {
  margin-top: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 44px 0 27px;
  position: relative; }
  .page-top:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(132, 90, 141, 0.4);
    position: absolute;
    left: 0;
    top: 0; }
  .page-top:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0; }
  .page-top .page-container {
    position: relative;
    z-index: 2; }
  .page-top h1 {
    margin-bottom: 77px; }

.page-top__date {
  font-size: 16px;
  margin-bottom: 20px; }

.page-container {
  max-width: 895px;
  margin: 0 auto; }

.page-top__info {
  color: rgba(255, 255, 255, 0.5); }

.page-img {
  -webkit-box-shadow: 0 13px 40px -6px rgba(132, 90, 141, 0.5);
          box-shadow: 0 13px 40px -6px rgba(132, 90, 141, 0.5);
  display: inline-block;
  margin-bottom: 35px; }
  .page-img img {
    display: block;
    max-width: 100%; }

.caption {
  font-size: 16px;
  margin-bottom: 20px; }

.menu-mobile__bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  display: none; }

.menu-mobile {
  display: none;
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 35px 20px 20px 20px;
  background: #fff;
  z-index: 4;
  max-height: -webkit-calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  overflow-y: auto; }

.menu-mobile__list {
  padding-left: 14px; }

.menu-mobile__link {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  color: #141312; }
  .menu-mobile__link:last-child {
    margin-bottom: 0; }

.page-footer__wrapper {
  border-top: 2px solid #EAEAEA;
  padding: 40px 0 3px; }

.socials {
  margin-bottom: -2px; }

.socials__item {
  width: 32px;
  height: 32px;
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 12px; }
  .socials__item:last-child {
    margin-right: 0; }
  .socials__item.fb {
    background: #EAEAEA url(../img/svg/fb.svg) center no-repeat; }
  .socials__item.vk {
    background: #EAEAEA url(../img/svg/vk.svg) center no-repeat; }
  .socials__item.inst {
    background: #EAEAEA url(../img/svg/inst.svg) center no-repeat; }
  .socials__item.ok {
    background: #EAEAEA url(../img/svg/ok.svg) center no-repeat; }
  .socials__item.youtube {
    background: #EAEAEA url(../img/svg/you.svg) center no-repeat; }

.page-footer__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.page-footer__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.copiright {
  font-size: 16px;
  margin-right: 45px; }

.develop {
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.develop__logo {
  display: inline-block;
  width: 75px;
  height: 22px;
  background: url(../img/svg/nineseven.svg) no-repeat;
  margin-left: 8px; }

.page-footer__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.page-footer__mail {
  display: inline-block;
  font-size: 20px;
  background: #EAEAEA;
  padding: 19px 19px;
  color: #141312;
  margin-right: 3px; }

.page-footer__phone {
  font-size: 20px;
  color: #fff;
  background: #DF2527;
  padding: 19px 17px 19px 12px;
  margin-right: 4px; }
  .page-footer__phone span {
    display: inline-block;
    position: relative;
    padding-left: 26px; }
    .page-footer__phone span:before {
      content: "";
      display: inline-block;
      width: 26px;
      height: 26px;
      background: url(../img/svg/phone.svg) no-repeat;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }

.page-footer__link {
  border: 1px solid #CDCDCD;
  width: 66px;
  height: 66px;
  display: inline-block;
  background: #fff url(../img/svg/link.svg) center no-repeat; }

@media screen and (max-width: 1300px) {
  .page-top .page-container {
    padding-left: 113px; } }

@media screen and (max-width: 1200px) {
  .container-fluid {
    padding: 0 20px; } }

@media screen and (max-width: 1150px) {
  .top-nav__link {
    margin-right: 20px; }
    .top-nav__link:last-child {
      margin-right: 0; }
  .logo {
    width: 110px;
    height: 60px;
    background: url(../img/svg/logo.svg) no-repeat;
    background-size: contain;
    left: 0px;
    bottom: -27px; } }

@media screen and (max-width: 1100px) {
  .page-footer__mail {
    font-size: 18px;
    padding: 8px 9px; }
  .page-footer__phone {
    font-size: 18px;
    padding: 8px 9px;
    margin-right: 3px; }
  .page-footer__link {
    width: 41px;
    height: 41px;
    background-size: 26px 26px; } }

@media screen and (max-width: 1024px) {
  .top-nav__link {
    font-size: 18px; }
  .page-header {
    padding: 13px 0; }
  .socials {
    margin-bottom: 20px; }
  .page-footer__bottom {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .page-footer__wrapper {
    padding: 20px 0; }
  .page-footer__contacts {
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .page-footer__info {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%; } }

@media screen and (max-width: 950px) {
  .page-content .page-container {
    padding-left: 93px; } }

@media screen and (max-width: 850px) {
  .top-nav__link {
    font-size: 16px;
    margin-right: 15px; }
    .top-nav__link:last-child {
      margin-right: 0; }
  .page-header {
    padding: 14px 0; } }

@media screen and (max-width: 768px) {
  .menu-mobile-toggle {
    display: inline-block; }
  .top-nav {
    display: none; }
  .page-top {
    margin-top: 60px; }
  .page-top .page-container {
    padding-left: 20px;
    padding-right: 20px; }
  .page-content .page-container {
    padding-left: 0; }
  .page-top h1 {
    margin-bottom: 40px; }
  h1 {
    font-size: 36px; }
  h2 {
    font-size: 30px; }
  body {
    font-size: 18px; } }

@media screen and (max-width: 600px) {
  .page-footer__contacts {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .page-footer__mail {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px; }
  .page-footer__phone {
    width: -webkit-calc(100% - 44px);
    width: calc(100% - 44px); }
  .page-footer__info {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .copiright {
    margin-right: 0;
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .develop {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 10px; }
  .page-top h1 {
    margin-bottom: 30px; }
  h1 {
    font-size: 28px; }
  h2 {
    font-size: 24px; }
  h2 {
    font-size: 22px; } }
