.page-footer{
	
}
.page-footer__wrapper{
	border-top: 2px solid #EAEAEA;
	padding: 40px 0 3px;
}
.socials{
	margin-bottom: -2px;
}
.socials__item{
	width: 32px;
	height: 32px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 12px;
	&:last-child{
		margin-right: 0;
	}
	&.fb{
		background: #EAEAEA url(../img/svg/fb.svg) center no-repeat;
	}
	&.vk{
		background: #EAEAEA url(../img/svg/vk.svg) center no-repeat;
	}
	&.inst{
		background: #EAEAEA url(../img/svg/inst.svg) center no-repeat;
	}
	&.ok{
		background: #EAEAEA url(../img/svg/ok.svg) center no-repeat;
	}
	&.youtube{
		background: #EAEAEA url(../img/svg/you.svg) center no-repeat;
	}
}

.page-footer__bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.page-footer__info{
	display: flex;
	align-items: center;
}

.copiright{
	font-size: 16px;
	margin-right: 45px;
}

.develop{
	font-size: 16px;
	display: flex;
	align-items: center;
}

.develop__logo{
	display: inline-block;
	width: 75px;
	height: 22px;
	background: url(../img/svg/nineseven.svg) no-repeat;
	margin-left: 8px;
}

.page-footer__contacts{
	display: flex;
	align-items: center;
}

.page-footer__mail{
	display: inline-block;
	font-size: 20px;
	background: #EAEAEA;
	padding: 19px 19px;
	color: #141312;
	margin-right: 3px;
}

.page-footer__phone{
    font-size: 20px;
    color: #fff;
    background: #DF2527;
    padding: 19px 17px 19px 12px;
    margin-right: 4px;
	span{
		display: inline-block;
		position: relative;
		padding-left: 26px;
		&:before{
			content: "";
			display: inline-block;
			width: 26px;
			height: 26px;
			background: url(../img/svg/phone.svg) no-repeat;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.page-footer__link{
	position: relative;
	width: 66px;
	height: 66px;
	display: inline-block;
	background: #fff url(../img/svg/link.svg) center no-repeat;
	&:before{
		content: "";
		display: block;
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		position: absolute;
		top: 2px;
		left: 2px;
		border: 1px solid #CDCDCD;
	}
}