.page-header{
	background: #fff;
	padding: 11px 0;
	position: fixed;
	width: 100%;
	z-index: 6;
	transition: box-shadow 0.3s ease;
	&.fixed{
		box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
	}
    &.active{
        box-shadow: none;
        background: #DF2527;
        z-index: 15;
    }
}

.top-nav{
	display: flex;
	align-items:center;
}
.top-nav__link{
	color: #141312;
	margin-right: 41px;
	&:last-child{
		margin-right: 0;
	}
    &:hover{
        color: #DF2527;
    }
}

.page-header__wrapper{
	display: flex;
    justify-content: flex-end;
    position: relative;
}

.logo{
	width: 155px;
	height: 99px;
	background: url(../img/svg/logo.svg) no-repeat;
	position: absolute;
	left: -10px;
	bottom: -72px;
}



.menu-mobile-toggle{
  width: 32px;
  height: 32px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}

.menu-mobile-toggle span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #DF2527;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu-mobile-toggle span:nth-child(1) {
  top: 0px;
}

.menu-mobile-toggle span:nth-child(2) {
  top: 10px;
  width: 27px;
      left: 5px;
}

.menu-mobile-toggle span:nth-child(3) {
      top: 20px;
    width: 20px;
    left: 12px;
}

.menu-mobile-toggle.open span:nth-child(1) {
  top: 13px;
  transform: rotate(135deg);
  background: #fff;
}

.menu-mobile-toggle.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  width: 32px;
  background: #fff;
}

.menu-mobile-toggle.open span:nth-child(3) {
  top: 13px;
  transform: rotate(-135deg);
  width: 32px;
  left: 0;
  background: #fff;
}