
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {
}



//MEDIA
@media screen and (max-height: 1500px){
	.history-wrap {
	    padding-top: 100px;
	}
	.history-title {
	    font-size: 88px;
	    line-height: 70px;
	    margin-bottom: 50px;
	}
	.history-list__title {
	    margin-bottom: 10px;
	}
	.history-list__number {
	    height: 110px;
	}
	.history-list__item {
	    padding-top: 75px;
	}
}


@media screen and (max-width: 1600px){
	.history-wrap {
	    padding-top: 100px;
	}
	.history-title {
	    font-size: 88px;
	    line-height: 70px;
	    margin-bottom: 50px;
	}
	.history-list__title {
	    margin-bottom: 10px;
	}
}

@media screen and (max-width: 1400px){
	.history-list__number {
	    height: 110px;
	}
	.history-list__item {
	    padding-top: 75px;
	}
	.raffle-slider-wrapper {
	    padding-top: 135px;
	}
	.raffle-slider__img {
	    height: 415px;
	    //background-size: contain;
	    //box-shadow: 0 36px 43px -34px rgba(132, 90, 141, 0.8);
	    background-position: left top; 
	}
}

//HEIGHT
@media screen and (max-height: 800px){
	.history-list__title {
	    font-size: 34px;
	    margin-bottom: 20px;
	}
	.history-list__number {
	    height: 80px;
	}
	.history-list__item {
	    padding-top: 53px;
	}
	.raffle-slider__img {
	    height: 350px;
	}
	.raffle-slider{
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1300px){
	.page-top .page-container {
	    padding-left: 113px;
	}
	.product__inner {
	    position: relative;
	}
	.product__link {
	    position: absolute;
	    bottom: -24px;
	    left: 50%;
	    margin-left: -24px;
	}
	.product__item {
	    padding-right: 20px;
	}
	.product__list {
	    margin-right: -20px;
	}
	.raffle-slider{
		margin-bottom: 0;
	}
	.popup__img {
	    padding: 30px 0 40px 0;
	}
	.popup__img__inner {
	    width: 100%;
	}
	.popup__info {
	    background: #fff;
	    width: 50%;
	    padding: 40px 30px;
	}
}

@media screen and (max-width: 1200px){
	.container-fluid {
	    padding: 0 20px;
	}
	.top-slider__title {
	    font-size: 80px;
	    line-height: 65px;
	    margin-bottom: 30px;
	}
	.top-slider__txt {
	    font-size: 24px;
	    margin-left: 40px;
	}
	.top-slider__count {
	    padding-left: 41px;
	}
	.top-slider__buttons {
	    margin-left: 40px;
	}
	.wantTo {
	    font-size: 18px;
	}
	.top-slider__labels {
	    right: 20px;
	}
	.page-footer__link__wrapper {
	    padding: 0 20px;
	}
	.raffle-slider__title {
	    font-size: 30px;
	    margin-bottom: 20px;
	}
	.history-title {
	    font-size: 50px;
	    line-height: 43px;
	    margin-bottom: 30px;
	}
	.history-list__title {
	    font-size: 28px;
	}
}
@media screen and (max-width: 1150px){
	.top-nav__link {
	    margin-right: 20px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.logo {
	    width: 110px;
	    height: 60px;
	    background: url(../img/svg/logo.svg) no-repeat;
	    background-size: contain;
	    left: 0px;
	    bottom: -27px;
	}
}

@media screen and (max-width: 1100px){
	.page-footer__mail {
	    font-size: 18px;
	    padding: 8px 9px;
	}
	.page-footer__phone {
	    font-size: 18px;
	    padding: 8px 9px;
	    margin-right: 3px;
	}
	.page-footer__link {
	    width: 41px;
	    height: 41px;
	    background-size: 26px 26px;
	}
}

@media screen and (max-width: 1024px){
	.top-nav__link {
	    font-size: 18px;
	}
	.page-header {
	    padding: 13px 0;
	}
	.socials {
	    margin-bottom: 20px;
	}
	.page-footer__bottom {
	    justify-content: flex-start;
	    flex-wrap: wrap;
	}
	.page-footer__wrapper {
	    padding: 20px 0;
	}
	.page-footer__contacts {
	    width: 100%;
	    margin-bottom: 20px;
	    order:1;
	}
	.page-footer__info {
	    order: 2;
	    width: 100%;
	}
	.top-slider-blur {
	    width: 475px;
	}
	.top-slider__title {
	    font-size: 80px;
	    line-height: 68px;
	}
	.top-slider__count {
	    padding-left: 5px;
	}
	.top-slider__txt,
	.top-slider__buttons{
	    margin-left: 5px;
	}
	.top-slider__title {
	    font-size: 50px;
	    line-height: 50px;
	}
	.catalog__title {
	    font-size: 30px;
	    margin-bottom: 20px;
	}
	.group-title {
	    margin-bottom: 20px;
	    font-size: 28px;
	}
	.product__inner {
	    padding: 0 15px 30px;
	}
	.raffle-slider__img {
	    height: 330px;
	}
	.popup__title {
	    font-size: 36px;
	    margin-bottom: 20px;
	}
	.popup-product-chars__item {
	    margin-right: 10px;
	    font-size: 20px;
	}
	.popup-product-descr__title{
		font-size: 20px;
	}
	.popup-product-descr-char__indicator {
	    font-size: 20px;
	}
}

@media screen and (max-width: 950px){
	.page-content .page-container {
	    padding-left: 93px;
	}
}

@media screen and (max-width: 900px){
	.screen-item,
	.fp-scrollable{
		height: auto!important;
	}
	.fp-scroller{
		transform: none!important;
	}
	.catalog__info,
	.catalog__item{
		    height: 50vh;
	}
	.catalog__label {
	    margin-bottom: 8px;
	}
	.history-txt,
	.history-list__txt{
	    font-size: 18px;
	}
	.history-info {
	    padding-left: 40px;
	}
	.history-list {
    	padding-right: 40px;
    	order:1;
	}
	.history-title {
	    margin-left: -135px;
	}
	.product__title {
	    font-size: 22px;
	    line-height: 1.2;
	}
	.product-wrapper {
	    padding-top: 45px;
	    padding-bottom: 40px;
	}
	.raffle-slider-wrapper {
	    padding-top: 55px;
	    margin-bottom: 30px;
	}
	.top-slider__info {
	    padding-bottom: 180px;
	}
	.top-slider__item{
		height: auto!important;
	}
	.top-slider{
		.slick-track{
			display: flex;
		}
	}
	.product-filter__item {
	    margin-right: 15px;
	    margin-bottom: 15px;
	    font-size: 17px;
	    padding: 3px 7px;
	}
	.popup-product-descr-char {
	    width: 100%;
	}
	.popup-product-chars__item {
	    margin-right: 0;
	    margin-bottom: 10px;
	    font-size: 20px;
	    width: 100%;
	}
	.popup-product-chars {
	    flex-wrap:wrap;
	    margin-bottom: 20px;
	}
	.history-info--mobile {
	    display: block;
	    opacity: 1;
	    position: static;
	    order: 2;
	}
	.history-info--desktop {
	    display: none;
	}
	.raffle-slider-wrapper:before {
	    background: #312a33;
	}
	.layout-index .page-header {
	    background: #fff;
	}
	.layout-index .top-nav__link {
	    color: #141312;
	    &:hover{
	    	color: #DF2527;
	    }
	}
}

@media screen and (max-width: 850px){
	.top-nav__link {
	    font-size: 16px;
	    margin-right: 15px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.page-header {
	    padding: 14px 0;
	}
	.product__item {
	    width: 50%;
	}
	.product__img {
	    margin: 0 0px -85px;
	}
}

@media screen and (max-width: 800px){
	.raffle-slider__item {
	    flex-wrap: wrap;
	}
	.raffle-slider__image {
	    width: 100%;
	    margin-bottom: 30px;
	}
	.raffle-slider__info {
	    width: 100%;
	    padding-left: 0;
	}
	.raffle-slider .slick-list {
	    padding-bottom: 0;
	}
	.screen-item--raffle {
	    height: auto !important;
	    justify-content: flex-start;
	}
	.raffle-slider {
	    margin-bottom: 40px;
	}
}

@media screen and (max-width: 768px){
	.menu-mobile-toggle{
		display: inline-block;
	}
	.top-nav{
		display: none;
	}
	.page-top {
	    margin-top: 60px;
	}
	.page-top .page-container {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.page-content .page-container {
	    padding-left: 0;
	}
	.page-top h1 {
	    margin-bottom: 40px;
	}
	h1 {
	    font-size: 36px;
	}
	h2 {
	    font-size: 30px;
	}
	body {
	    font-size: 18px;
	}
	.pluso {
	    position: relative!important;
	}
	.pluso-001010100101-06 .pluso-wrap {
	    display: flex!important;
	}
	div[class*="pluso-"]{
		width: auto!important;
		margin-bottom: 20px;
		a{
			margin: 0px 5px 0 0px!important;
		}
	}
	.popup{
		flex-wrap:wrap;
	}
	.popup-wrapper{
		flex-wrap:wrap;
		margin-top: 63px;
		max-height: calc(100vh - 63px);
		overflow: auto;
	}
	.popup__info,
	.popup__img{
		width: 100%;
	}
	button.mfp-close {
	    right: 50%;
	    margin-right: -13px;
	    top: -45px !important;
	}
	.popup__img__inner img {
	    display: block;
	}
	.popup__img {
	    padding: 15px 0 10px 0;
	}
	.popup__info{
		padding: 20px; 
	}
	.mfp-wrap {
	    overflow: visible;
	}
	.top-slider__info {
	    padding-left: 20px;
	}
	.top-slider-blur {
	    width: 375px;
	}
	.top-slider__txt {
	    max-width: 70%;
	}
	.top-slider__label {
	    font-size: 14px;
	    margin-bottom: 6px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.top-slider__info:after {
	    height: calc(100% - 255px);
	}
	.history-info--desktop{
		display: none;
	}
	.history-info--mobile{
		display: block;
		position: static;
		width: 100%;
		padding-left: 0;
		opacity: 1;
		background: #fff;
		margin-bottom: 30px;
	}
	.history-wrap {
	    padding-top: 40px;
	    flex-wrap: wrap;
	    padding-bottom: 0;
	     order: 1;
	}
	.history-list {
	    padding-right: 0;
	    width: 100%;
	    padding-top: 45px;
	    order: 2;
	    &:before{
	    	content: "";
	    	display: block;
	    	width: calc(100% + 40px);
	    	height: 100%;
			position: absolute;
			left: -20px;
			top: 0;
	    	background: rgba(132, 90, 141, 0.2);
	    }
	}
	.history-title {
	    margin-left: 0;
	    br{
	    	display: none;
	    }
	}
	.history-txt {
	    max-width: 100%;
	}
	.screen-item--history:before {
		display: none;
	}
	.chef {
	    top: -30px;
	}
	.page-footer__link__wrapper .page-footer__link {
	    width: 37px;
	    height: 37px;
	    background-size: 20px;
	}
	.page-footer__link__wrapper {
	    bottom: 15px;
	}
	.product__img {
	    margin: 0 0px -55px;
	}
	.more{
		display: none;
	}
	.screen-item--history {
		overflow: hidden; 
	}
	.popup-catalog__close {
	    width: 37px;
	    height: 37px;
	    right: 20px;
	    background-size: 20px;
	    bottom: 15px;
	}
}

@media screen and (max-width: 600px){
	.page-footer__contacts {
	    flex-wrap: wrap;
	}
	.page-footer__mail {
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 10px;
	}
	.page-footer__phone{
		width: calc(100% - 44px);
	}
	.page-footer__info{
		flex-wrap: wrap;
	}
	.copiright {
	    margin-right: 0;
	    width: 100%;
	    order: 2;
	}
	.develop{
		width: 100%;
		order: 1;
		margin-bottom: 10px;
	}
	.page-top h1 {
	    margin-bottom: 30px;
	}
	h1 {
	    font-size: 28px;
	}
	h2 {
	    font-size: 24px;
	}
	h2 {
	    font-size: 22px;
	}
	.popup__title {
	    font-size: 24px;
	}
	.catalog__label{
		font-size: 10px;
	}
	.popup-product-chars__item {
	    font-size: 16px;
	    width: 50%;
	}
	.char-item {
	    padding: 0 15px;
	}
	.popup-product-chars__item span {
	    font-size: 14px;
	}
	.char__count {
	    font-size: 16px;
	}
	.popup-product-descr-char{
		margin-bottom: 5px;
	}
	.popup-product-chars__icon {
	    width: 20px;
	    min-width: 20px;
	    height: 20px;
	    margin-right: 5px;
	}
	.product-title {
	    font-size: 30px;
	    margin-bottom: 20px;
	}
	.product-filter__item {
	    margin-right: 8px;
	    margin-bottom: 8px;
	    font-size: 14px;
	    padding: 2px 4px;
	    border-radius: 2px 5px 2px 5px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.product-top {
	    margin-bottom: 20px;
	}
	.product-wrapper {
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	.product__title {
	    font-size: 18px;
	}
	.product__term {
	    font-size: 14px;
	}
	.product__item {
	    padding-right: 5px;
	    margin-bottom: 30px;
	}
	.product__list {
	    margin-right: -5px;
	}
	.product__link {
    	width: 32px;
	    height: 32px;
	    margin-left: -16px;
	    bottom: -16px;
	}
	.char-item {
	    padding: 0 4px;
	        font-size: 12px;
	    &:first-child{
			padding-left: 0;
	    }
	    &:last-child{
			padding-right: 0;
	    }
	}
	.screen-item--raffle .page-footer__wrapper {
	    padding-right: 0;
	}
	.top-slider__buttons {
	    flex-wrap: wrap;
	}
	.top-slider__info {
	    padding-top: 110px;
	}
	.top-slider__title {
	    font-size: 28px;
	    line-height: 28px;
	}
	.top-slider__count {
	    font-size: 14px;
	}
	.top-slider__img {
	    width: 80%;
	}
	.top-slider-blur {
	    width: 150px;
	        left: 0;
	}
	.top-slider__txt {
	    font-size: 16px;
	}
	.wantTo {
	    font-size: 14px;
	    padding: 8px 18px;
	}
	.buttons-item{
	    margin-bottom: 20px;
	    width: 100%;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.changeDish {
	    font-size: 14px;
	    padding: 7px 10px 7px 36px;
	}
	.changeDish:before {
	    width: 17px;
	    height: 20px;
	    left: 12px;
	    top: 7px;
	    background: url(../img/svg/reload.svg) no-repeat;
	    background-size: contain;
	}
	.catalog__info {
		padding: 20px 20px; 
	    justify-content: flex-start;
	}
	.catalog__title {
	    font-size: 20px;
	    margin-bottom: 15px;
	}
	.new {
	    font-size: 14px;
	    top: -4px;
	}
	.top-slider__labels{
		bottom: 75px;
	}
	.top-slider__info:after {
	    height: calc(100% - 225px);
	}
	.product__img {
	    margin: 0 -25px -25px;
	    position: relative;
	    top: -25px;
	}
	.product__img img {
	    top: 0;
	}
	.catalog__info, .catalog__item {
	    height: 50vh;
	}
	.popup-catalog .container-fluid {
	    padding: 0 10px; 
	}
	.screen-item--catalog .container-fluid {
	    padding: 0 10px; 
	}
	.top-slider__info {
	    padding-left: 0;
	}
	.group-title {
	    margin-bottom: 10px;
	}
}