

/*FONT-FAMILY*/
$default-font: 'Roboto', Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 20px;

/*BACKGROUND*/
$default-site-bg: #eeeeee;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #022835;

$alternate-color: #ff0109;
