

/*FONT-FAMILY*/
$default-font: 'roboto_condensedregular', Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 20px;

/*BACKGROUND*/
$default-site-bg: #fff;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #141312;

$alternate-color: #ff0109;
